body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#navbar {
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: center;
}

#emailEditor {
    color: #030712;
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: solid #030712;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#formatBar {
    margin-bottom: 10px;
}

#formatBar button {
    background-color: #e0e0e0;
    color: #333;
    border: none;
    padding: 8px 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
}

#emailObject {
    border: solid #030712 1px;
    width: 25%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
}

#emailBody {
    border: solid #030712 1px;
    min-height: 300px;
    max-height: 300px;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
}

#attachmentInput {
    margin-bottom: 15px;
}

#sendButton {
    background-color: #0d6efd;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#sendButton:hover {
    background-color: #0d6efd;
}

#attachmentInput {
    background-color: #0d6efd;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.cToolbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #F3F3F3;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
}

.cSection {
    height: calc(100% - 4px);
    padding: 2px;
    margin-left: 5px;
    width: 100%;
    display: flex;
    width: min-content;
}
